<div class="top-body">
    <div class="body-container">
        <h1>Bookappで</h1>
        <h1>まだ体験したことのない
        <h1>旅をしよう</h1>
        <div class="search-content">
            <p>気になるエリアを検索してみよう！</p>
                <%= form_with url: search_path, method: :get do |f| %>
                    <div class="input-group d-flex">
                        <%= f.text_field :word, placeholder:"エリアを入力", class:"form-control py-3" %>
                        <%= button_tag :type => "submit", type:"button", id:"button-addon2", class:"btn btn-success" do %>
                            <i class="fa fa-search"></i>検索
                        <% end %>
                    </div>
                <% end %>
        </div>
    </div>
</div>