/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 th {
    font-size: 14px;
 }

.orignal-header {
    z-index: 60;
    background-color:rgba(46, 46, 46, 0.8);
    position: relative;
}

.flash {
    z-index: 50;
    color: white;
    text-align: center;
    background-color: lightseagreen;
    width: 100%;
    padding: 10px 0px;
    position: absolute;
    top: 84px;
}

.error-messages {
    color: red;
}

.form-container {
    position: relative;
    max-width: 1350px;
    padding: 120px 80px;
    margin:0 auto;
}

.body-container {
    position: relative;
    max-width: 1350px;
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    
    margin:0 auto;
}

.search-container {
    position: relative;
    max-width: 1350px;
    padding: 120px 40px;
    margin:0 auto;
}

.head-topic {
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 30px;
}

.required-item {
    margin-left: 1px;
    color: red;
}

.icon {
    width: 40px;
    height: 40px;
}

.hidden-area {
    display: none;
}

.reservation-date {
    display: inline-block;
}

.img-cover-s {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.img-cover-sm {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-cover-lg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.room-detail {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}