// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-table {
    position: relative;
    padding:0px 80px;
    margin-top: 30px;
}