// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-name {
    font-size: 40px;
    color: lightseagreen;
}

.room-price {
    font-size: 40px;
    color: lightsalmon;
}